body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* Full viewport height */
    display: flex;
    flex-direction: column;
}

#email-content-frame {
    width: 100%;
    flex-grow: 1;
    border: none;
}

p,
hr,
a {
    margin: 16px;
}

.email-header {
    flex-shrink: 0;
}