{{block "title" .}}Inbox - MailMinno{{end}}

{{block "content" .}}
<h1>Inbox</h1>
    <table>
        <tbody>
            {{range .}}
            <tr>
                <td><a href="/email/{{.ID}}">{{.Subject}}</a></td>
                <td>{{.From}}</td>
                <td>({{.Date.Format "2006-01-02 15:04:05"}})</td>
                <td>
                    <form action="/delete/{{.ID}}" method="post" style="display: inline;">
                        <input type="submit" value="✕ Delete">
                    </form>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
{{end}}